/*
PT SANS and ARVO fonts

font-family: 'PT Sans', sans-serif;
font-family: 'Arvo', serif;

*/

body {
  font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3,
h4, {
  font-family: 'Source Code Pro', monospace;
}

#mainGameSpace {
  padding: 50px;
}

.fa {
  color: #fff;
}

a,
a:active,
a:link,
a:visited {
  text-decoration: none;
}


#gameMessage {
  padding: 50px;
}

.footer {
  background-color: #666;
  width: 100%;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  clear: both;
  position: fixed;
  margin-top: 50px;
}

.footer-text {
  color: #fff;
  line-height: 65px;
  font-size: 13px;
}
