/*
PT SANS and ARVO fonts

font-family: 'PT Sans', sans-serif;
font-family: 'Arvo', serif;

*/

.parallax-window {
    min-height: 650px;
    background: transparent;
    position: relative;
    background:rgba(255,255,255, 0.9);
}

body {
font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3,
h4, {
  font-family: 'Source Code Pro', monospace;
}

.container {
  margin-bottom: 120px;
}

/*#topSplash {
  padding: 50px;

}*/

#mainGameSpace {
  padding: 50px;
}

/*#doom-img {
  width:400px;
}*/

.fa {
  color: #fff;
}

a,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

#info {
  width: 400px;
  position: absolute;
  top: 50px;
  height: 600px;
  left: 365px;

}


#gameMessage {
  padding: 50px;
}

.footer {
  background-color: #666;
  width: 100%;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  clear: both;
  position: fixed;
  margin-top: 50px;
}

.footer-text {
  color: #fff;
  line-height: 65px;
  font-size: 13px;
}
